<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{contact.name}}</h2>
    <div class="flex-container">
      <img src="{{contact.imageUrl}}" alt="{{contact.name}}" style="margin-right: 150px;">
      <a class="btn btn-primary" routerLink="edit">Edit</a>
      <a class="btn btn-danger" (click)="onDelete()">Delete</a>
    </div>
  </div>
  <div class="panel-body">
    <div><strong>Email:</strong> {{contact.email}}</div>
    <div><strong>Phone:</strong> {{contact.phone}}</div>
    <div><strong>Contact in Team:</strong></div>
    <div *ngFor="let groupContact of contact.group; let i = index">
      <div>
        <app-contact-item class="col-sm-11" [contact]="groupContact"></app-contact-item>
      </div>
    </div>
  </div>
</div>

